header {
    overflow-y: hidden;
    background-color: var(--headerColor);
    padding: 30px;
    overflow-x: hidden;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

header nav ul {

    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
}

li:hover {
    transform: scale(1.1);
    color: rgb(224, 80, 80);
}

li::after {
    transition: .5s;
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--blackWhite);
    width: 0;
}

li {
    position: relative;
    transition: .5s;
    color: var(--blackWhite);
    cursor: pointer;
    font-size: .8em;
}

li:hover::after {
    width: 100%;
}

body {
    background-color: var(--body-Background);
    font-family: "Bungee", sans-serif;
}

.logo {
    color: var(--blackWhite);
    font-weight: bold;
}

.hr {
    display: flex;
    justify-content: center;
}

hr {
    height: 2px;
    border: none;
    width: 90%;
    background-color: var(--blackWhite);
}

a {
    text-decoration: none;
    color: black;
}

.sun {
    fill: var(--blackWhite);
    display: block;
    padding: 10px;
}

.moon {
    fill: var(--blackWhite);
    display: none;
    padding: 10px;
}

.sun-btn {
    background: none;
    border: none;
    cursor: pointer;
}

:root {
    --body-Background: #ffe1c9;
    --whiteBlack: white;
    --sobre-mim-color: rgba(221, 104, 104, .5);
    --circles-color: rgb(211, 44, 44);
    --blackGray: black;
    --blackWhite: black;
    --bodyBackground: rgb(221, 219, 219);
    --headerColor: #ffe1c9;
}

.darkmode {
    --body-Background: rgb(36, 23, 23);
    --whiteBlack: black;
    --sobre-mim-color: #7B7272;
    --circles-color: rgba(221, 104, 104, .2);
    --blackGray: rgb(223, 198, 198);
    --blackWhite: white;
    --bodyBackground: rgb(36, 23, 23);
    --headerColor: rgb(36, 23, 23);
}

#contato {
    color: rgb(221, 104, 104);
}

.hr-contato {
    margin-bottom: 20px;
    width: 80%;
    background-color: rgb(224, 80, 80);
}

main {
    height: 40vh;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-h1 {
    margin-bottom: 20px;
    color: var(--blackWhite);
}

.contatos {
    color: var(--blackWhite);
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contato-flex {
    gap: 20px;
    align-items: center;
    display: flex;
}

.topicos {
    font-size: 1.5em;
}

.gmail {
    color: var(--blackWhite);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.instagram {
    background-color: rgb(221, 104, 104);
    position: relative;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
}

.instagram::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 0;
    background-image: url(arrow_right_alt_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
}

.menu-bars-nav {
    display: none;
}

.menu {
    display: none;
    transform: translateY(-100%);
}

#enviar {
    margin: 20px 0 0 0;
    width: 200px;
    background: #DD6868;
    border: none;
    padding: 10px;
    border-radius: 10px;
    border-radius: 10px;
}

.formulario form {
    padding: 50px;
    width: 80%;
    background: #222222;
    border-radius: 20px;
}

.formulario {
    text-align: center;
    flex-direction: column;
    height:80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}
.formulario h1 {
    margin: 40px 0;
    color: var(--blackWhite);
}
.informacoes{
    margin: 20px 0;
}
.mensagem{
    height: 30px;
    line-height: 30px;
}
footer{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #000;
}
.rede-social{
    width: 30px;
}
textarea{
    width: 400px;
    height:50px;
    resize: none;
}
@media (max-width: 760px) {

    /* header{
        width: 100%;
    } */
    .contatos {
        font-size: .8em;
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        display: none;
    }

    .menu-bars-nav {
        fill: var(--blackWhite);
        display: block;
    }

    .menu {
        border-bottom: 1px solid black;
        display: block;
        transition: .5s;
        width: 100%;
        height: 40%;
        background: #000;
        position: absolute;
        top: 0;
        z-index: 5;
    }

    .menu.ativo {
        transform: translateY(0);
    }

    .menu ul {
        height: 100%;
    }

    .menu ul a {
        /* border-top: 1px solid rgb(221, 104, 104);
        border-bottom: 1px solid rgb(221, 104, 104); */
        text-align: center;
        width: 100%;
        height: 33.3%;
        display: block;
        background: black;
    }

    .menu ul a li {
        color: var(--sobre-mim-color);
        position: relative;
        transform: translateY(-50%);
        top: 50%;
    }
}