header {
    background-color: var(--headerColor);
    padding: 30px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
}

header li:hover {
    transform: scale(1.1);
    color: rgb(224, 80, 80);
}

header li::after {
    transition: .5s;
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--blackWhite);
    width: 0;
}

header li {
    position: relative;
    transition: .5s;
    color: var(--blackWhite);
    cursor: pointer;
    font-size: .8em;
}

header li:hover::after {
    width: 100%;
}

body {
    background-color: var(--body-Background);
    font-family: "Bungee", sans-serif;
}

.logo {
    color: var(--blackWhite);
    font-weight: bold;
}
.hr{
    display: flex;
    justify-content: center;
}
hr {
    height: 2px;
    border: none;
    width: 90%;
    position: absolute;
    background-color: var(--blackWhite);
}

main {
    font-family: "Bungee", sans-serif;
    text-align: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lucas-foto {
    transition: .5s;
    width: 300px;
    border-radius: 50%;
    border: 3px solid var(--sobre-mim-color);
}

.lucas-foto:hover {
    transform: scale(1.1) rotate(-5deg);
    z-index: 3;
}

a {
    text-decoration: none;
    color: black;
}

.opcao {
    position: relative;
    transition: .5s;
    padding: 10px 10px 10px 30px;
    background-color: rgb(224, 80, 80);
    color: white;
    border-radius: 10px;
    font-size: 1.3em;
    margin: 0 10px;
}

.opcao:hover {
    background-color: rgb(212, 109, 109);
}

.opcao::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    -webkit-mask: url('arrow_forward_24dp_FFF_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
    -webkit-mask-size: cover;
    mask: url('arrow_right_alt_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg') no-repeat center;
    mask-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.contato:hover {
    background-color: rgb(221, 104, 104);
}

.caracteristica {
    color: var(--blackGray);
    margin-bottom: 20px;
}

.sun {
    fill: var(--blackWhite);
    display: block;
    padding: 10px;
}

.moon {
    fill: var(--blackWhite);
    display: none;
    padding: 10px;
}

.sun-btn {
    background: none;
    border: none;
    cursor: pointer;
}

:root {
    --body-Background: #ffe1c9;
    --whiteBlack: white;
    --sobre-mim-color: rgba(221, 104, 104, .5);
    --circles-color: rgb(211, 44, 44);
    --blackGray: black;
    --blackWhite: black;
    --bodyBackground: rgb(221, 219, 219);
    --headerColor: #ffe1c9;
}

.darkmode {
    --body-Background: rgb(36, 23, 23);
    --whiteBlack: black;
    --sobre-mim-color: #7B7272;
    --circles-color: rgba(221, 104, 104, .2);
    --blackGray: rgb(223, 198, 198);
    --blackWhite: white;
    --bodyBackground: rgb(36, 23, 23);
    --headerColor: rgb(36, 23, 23);
}

.apresentacao {
    margin: 25px 0;
    font-size: 2em;
    color: var(--blackWhite);
}

.fixed {
    position: sticky;
    top: 0;
    z-index: 4;
}

#sobre-mim {
    transition: .5s;
    margin: 0 40px;
    background: #222222;
    color: var(--sobre-mim-color);
    height: 90vh;
    display: flex;
    border-radius: 20px;
    scale: .9;
    align-items: center;
    justify-content: space-around;
}

#sobre-mim:hover {
    scale: 1;
}


.apresentacao-p {
    transition: .5s;
    font-size: 1.2em;
    margin-top: 20px;
    color: var(--sobre-mim-color);
}

.sobre-mim-h1,
.habilidades-h1 {
    font-size: 2.3em;
}

.habilidades-h1 {
    margin-top: 50px;
    color: var(--blackWhite);
}


.habilidades-itens {
    transition:.5s;
    cursor: pointer;
    color: rgb(85, 14, 14);
    background-color: rgb(221, 104, 104);
    position: relative;
    border-top-left-radius: 20px;
    font-size: 1.3em;
    width: 100px;
    margin: 50px 20px 0;
    display: inline-block;
    list-style: none;
    line-height: 50px;
    height: 120px;
    text-align: center;
    font-family: 'Bebas Neue';
}
.habilidades-itens p {
    opacity: 0;
}
.habilidades-itens:hover p {
    opacity: 1;
}
.habilidades-itens:hover{
    transform: scale(1.2);
}
.git::before {
    content: '';
    position: absolute;
    background: url(git-alt-brands-solid-full.svg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 25%;
    bottom: 20px
}
.html::before{
    content: '';
    position: absolute;
    background: url(html5-brands-solid-full.svg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 25%;
    bottom: 20px
}
.php::before {
    content: '';
    position: absolute;
    background: url(php-brands-solid-full.svg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 25%;
    bottom: 20px;
}
.css::before{
    content: '';
    position: absolute;
    background: url(css3-alt-brands-solid-full.svg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 25%;
    bottom: 20px
}
.js::before{
    content: '';
    position: absolute;
    background: url(js-brands-solid-full.svg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 25%;
    bottom: 20px
}
.habilidades-itens::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--blackWhite);
    bottom: 0;
}

.habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
}
.observacao{
    color: var(--blackWhite);
    margin: 30px 0 0 0;
}
.tech-circle {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.circle {
    animation: circles 5s infinite;
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--circles-color);
}

.circle:nth-child(1) {
    z-index: -4;
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
}

.circle:nth-child(2) {
    z-index: -4;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 80%;
}

.circle:nth-child(3) {
    width: 150px;
    z-index: -4;
    height: 150px;
    top: 70%;
    left: 20%;
}

@keyframes circles {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.5;
    }

    100% {
        scale: 1;
    }
}

.nome {
    -webkit-text-stroke: 1px var(--blackWhite);
    color: transparent;

}

nav a.active li {
    color: rgb(221, 104, 104);
}

.menu-bars-nav {
    fill: var(--blackWhite);
    display: none;
}

.menu {
    display: none;
    transform: translateY(-100%);
}
footer{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #000;
}
.rede-social{
    width: 30px;
}
@media (max-width:1220px) {
    .circle:nth-child(1) {
        width: 150px;
        height: 150px;
    }

    .circle:nth-child(2) {
        width: 230px;
        height: 230px;
    }

    .circle:nth-child(3) {
        width: 100px;
        height: 100px;
    }

    .apresentacao-p {
        font-size: .9em;
    }

    .lucas-foto {
        width: 200px;
    }
}

@media (max-width:820px) {
    .apresentacao-p {
        font-size: .9em;
        margin-left: 20px;
        width: 80%;
    }

    .sobre-mim-h1 {
        margin-left: 20px;
    }
}

@media (max-width: 570px) {
    header nav ul {
        display: none;
    }

    .habilidades ul {
        display: grid;
        grid-template-columns: auto auto;
    }

    .menu-bars-nav {
        display: block;
    }

    .menu {
        border-bottom: 1px solid black;
        display: block;
        transition: .5s;
        width: 100%;
        height: 40%;
        background: #000;
        position: absolute;
        top: 0;
        z-index: 5;
    }

    .menu.ativo {
        transform: translateY(0);
    }

    .menu ul {
        height: 100%;
    }

    .menu ul a {
        text-align: center;
        width: 100%;
        height: 25%;
        display: block;
        background: black;
    }

    .menu ul a li {
        color: var(--sobre-mim-color);
        position: relative;
        transform: translateY(-50%);
        top: 50%;
    }

    #sobre-mim {
        flex-direction: column;
    }

    .sobre-mim-h1,
    .apresentacao-p {
        text-align: left;
    }

    .apresentacao {
        font-size: 1.4em;
    }
}

@media (max-width: 440px) {
    #sobre-mim{
        margin: 0 0;
    }
    .sobre-mim-h1 {
        font-size: 1.4em;
    }

    .caracteristica {
        font-size: .8em;
    }


    .nome {
        display: block;
    }

    .opcao {
        display: inline-block;
        margin-top: 10px;
    }

    .circle:nth-child(1) {
        width: 80px;
        height: 80px;
    }

    .circle:nth-child(2) {
        width: 100px;
        height: 100px;
    }

    .circle:nth-child(3) {
        width: 60px;
        height: 60px;
    }
}
/* Cores originais
:root {
    --whiteBlack: white;
    --sobre-mim-color: rgba(221, 104, 104, .5);
    --circles-color: rgb(221, 104, 104);
    --blackGray: black;
    --blackWhite: black;
    --bodyBackground: rgb(221, 219, 219);
    --headerColor: white;
}

.darkmode {
    --whiteBlack: black;
    --sobre-mim-color: #7B7272;
    --circles-color: rgba(221, 104, 104, .2);
    --blackGray: rgb(223, 198, 198);
    --blackWhite: white;
    --bodyBackground: rgb(36, 23, 23);
    --headerColor: rgb(36, 23, 23);
<<<<<<< HEAD
} */
=======
} */
>>>>>>> 0c023dd99d80b8b218431421ce97fdd07085d7ab
