header {
    background-color: var(--headerColor);
    padding: 30px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
}
li:hover{
    transform: scale(1.1);
    color: rgb(224, 80, 80);
}
li::after{
    transition: .5s;
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
    height: 2px;
    background-color: white;
    width: 0;
}
li {
    position: relative;
    transition: .5s;
    color: var(--blackWhite);
    cursor: pointer;
    font-size: .8em;
}
li:hover::after{
    width: 100%;
}
body {
    background-color: var(--bodyBackground);
    font-family: 'Poppins';
}

.logo {
    color: var(--blackWhite);
    font-weight: bold;
}

hr {
    height: 1px;
    border: none;
    background-color: rgb(238, 238, 238);
}
.home{
    color: rgb(224, 80, 80);
}
main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lucas-foto{
    transition: .5s;
    width: 300px;
    border-radius: 50%;
    border: 3px solid rgb(224, 80, 80);
}
.lucas-foto:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: black;    
}
.contato{
    transition: .5s;
    padding: 10px;
    background-color: rgb(224, 80, 80);
    color: white;
    border-radius: 10px;
    font-size: 1.3em;
}
.contato:hover{
    background-color: rgb(221, 104, 104);
}
.caracteristica{
    color: var(--blackGray);
    margin-bottom: 20px;
}
.sun{
    fill: var(--blackWhite);
    display: block;
    padding: 10px;
}
.sun-btn{
    background: none;
    border: none;
    cursor: pointer;
}
:root{
    --blackGray: black;
    --blackWhite:black;
    --bodyBackground: white;
    --headerColor: white;
}
.darkmode{
    --blackGray: rgb(223, 198, 198);
    --blackWhite:white;
    --bodyBackground: rgb(36, 23, 23);
    --headerColor: rgb(36, 23, 23);
}
.apresentacao{
    color: var(--blackWhite);
}
.fixed{
    position: sticky;
    top: 0;
}
.sobre-mim{
    color: var(--blackWhite);
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.apresentacao-p{
    font-size: 1.2em;
    margin-top: 20px;
    color: var(--blackGray);
}
.sobre-mim-h1,.habilidades{
    font-size: 2.3em;
}
.habilidades{
    margin-top: 50px;
}
.html,.css,.js,.sql{
    fill: var(--blackWhite);
    width: 50px;
}
.habilidades-itens{
    background-color: rgb(221, 104, 104);
    margin-top: 50px;
    position: relative;
    border-top-left-radius: 20px;
    font-size: 1.3em;
    width: 100px;
    line-height: 100px;
    height: 120px;
    text-align: center;
    font-family: 'Bebas Neue';
}
.habilidades-itens::after{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
}
.habilidades-itens:hover{
    color: white;
}